- modal_id = speaker.gsub(/\s+/, "_").gsub(/[^\w_]/, "").downcase

.calendar_entry{ "data-modal-id" => modal_id }
  %p= speaker
  %p.small= topic || "<span class='filler_text'>To be announced</span>"
  .timespan.clearfix.small
    .pull-left.text-success= start_time.strftime("%H:%M")
    to
    .pull-right.text-danger= end_time.strftime("%H:%M")

.modal.fade{ id: modal_id, tabindex: "-1", role: "dialog", "aria-labelledby" => "#{modal_id}_label", "aria-hidden" => true }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", "data-dismiss" => "modal" } &times;
        - primary_name, *titles = (formal_name || "").split(?\n)

        %h3.modal-title{ id: "#{modal_id}_label" }
          - if url
            %a{ href: url, target: "_blank" }= primary_name
          - else
            = primary_name || "<span class='filler_text'>To be announced</span>"

        - if institution
          %h4.modal-title= institution

        - unless titles.empty?
          - titles.each do |title|
            %h6.modal-title= title
      .modal-body
        %h4= topic || "<span class='filler_text'>To be announced</span>"
        - if locals.has_key?("abstract")
          - abstract.split(?\n).each do |paragraph|
            %p.text-justify= paragraph
